body {
    background: black;
}

* {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .title {
    background: red;
}

.title:hover {
    background: green;
}

#title {
    background: green;
}

h1 {
    background: blue !important;
}

[data-prop="hi"] {
    background: blue;
} */

ul {
    list-style: decimal;
}

li {
    text-transform: uppercase;
}

li:first-child {
    text-transform: capitalize;
}

li:last-child {
    text-transform: capitalize;
}

li:nth-child(3) {
    text-decoration: line-through;
}

li:only-child {
    color: red;
}